.wh-link {
  color: #e1e2e3 !important
}

.wh-link-highlight {
  color: rgb(255, 192, 0) !important;
}

.wh-link:hover {
  color: rgb(255, 192, 0) !important;
}

.wh-icon {
  width:40px; 
  margin-left: -4px; 
  margin-right: 10px;
}